.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #ffffff;
    &_logo {
        height: 60px;
        width: 60px;
    }
}

