.reviews {
    margin-bottom: 70px;

    @media (max-width: 768px) { 
        margin-bottom: 10px;
     }
     
    @media (max-width: 992px) { 
        margin-bottom: 10px;
     }
}

.title {
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    margin-bottom: 36px;
    color: #333;
}

.swiper_slide {
    margin-bottom: 70px;
}