.courses {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 1024px) { 
        grid-template-columns: repeat(3, 1fr);
     }
     
    @media (max-width: 576px) { 
        grid-template-columns: repeat(2, 1fr);
     }
}

.noCourses {
   min-height: 100vh;
}
