.popular {
    margin-bottom: 70px;
}
.title {
    font-weight: 900;
    font-size: 30px;
    color: #2b2b2b;
    margin-bottom: 25px;
}
.courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 576px) { 
        grid-template-columns: repeat(2, 1fr);
     }
    @media (max-width: 768px) { 
        grid-template-columns: repeat(2, 1fr);
     }
}

