.results {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #4caf50;
    border-radius: 8px;
    background-color: #e8f5e9;
    text-align: center;
}

.results h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #4caf50;
}

.results p {
    font-size: 16px;
}
.correct {
    color: green;
    font-weight: bold;
}

.incorrect {
    color: red;
    font-weight: bold;
}

.correctQuestion {
    background-color: #e8f5e9;
    border: 1px solid #4caf50;
}

.incorrectQuestion {
    background-color: #ffebee;
    border: 1px solid #f44336;
}
