.courseInfo {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
}

.coursePrice {
    margin-bottom: 15px;
}
.courseDetails,
.instructorDetails {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.courseImg,
.instructorImg {
    width: 150px;
    height: auto;
    border-radius: 8px;
}
.instructorInfo,
.instructorExp {
    margin-bottom: 6px;
}

.courseTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.courseRating span {
    margin-right: 6px;
}

